* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 30px;
    background: rgb(60, 77, 45);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 150px;
}

.logo {
    font-weight: bold;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 0 5px;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    font-weight: bold;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.3s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: white;
    background: rgb(201, 144, 0);
}

.nav-bar ul li a.active {
    color: white;
    background: rgb(201, 144, 0);
}


.row {
    margin: 25px;
    display: flex; 
    align-items: flex-start; 
}

.sidebar {
    margin-top: 25px;
    width: 20%; 
}

.sidebar ul li a{
    display: block;
    color: rgb(86, 101, 49);
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    margin: 0 5px;
}
.mainpicture {
    flex: 1; 
}

.mainpicture img {
    margin-top: 65px;
    width: 400px;
    height: auto;
    display: block;
    border-radius: 50px;
}

.pic1 {
    flex: 1; 
}

.pic1 img {
    width: 150px;
    height: auto;
    display: block;
    border-radius: 50px;
    margin-left: 80px;
    margin-top: 100px;
}

.pic2 {
    flex: 1; 
}

.pic2 img {
    width: 150px;
    height: auto;
    display: block;
    border-radius: 50px;
    margin-left: 48px;
    margin-top: 250px;
}
